/* editor styles */

.crowdsignal-forms-vote .block-editor-block-list__layout {
	display: flex;
	flex-direction: row;
}

.crowdsignal-forms__border-popover .crowdsignal-forms__row {
	padding: 10px;
}

.crowdsignal-forms-vote-item__count {

	.crowdsignal-forms-vote.no-results & {
		display: none;
	}
}

.crowdsignal-forms-vote__size-dropdown {

	.components-button.components-dropdown-menu__menu-item.is-active::after {
		content: "\2713";
		margin-inline-start: auto;
		margin-inline-end: 0;
	}
}
