/* editor styles */

.wp-block-crowdsignal-forms-vote .block-editor-block-list__layout {
	display: flex;
	flex-direction: row;
}

.crowdsignal-forms__border-popover .crowdsignal-forms__row {
	padding: 10px;
}
