/* Editor styles */

#editor .editor-styles-wrapper {

	.block-editor-block-list__block[data-type="crowdsignal-forms/poll"][data-align="full"] .wp-block-crowdsignal-forms-poll {
		border-left-width: 0;
		border-right-width: 0;
	}

	.block-editor-block-list__block[data-type="crowdsignal-forms/poll"][data-align="wide"] .wp-block-crowdsignal-forms-poll__content,
	.block-editor-block-list__block[data-type="crowdsignal-forms/poll"][data-align="full"] .wp-block-crowdsignal-forms-poll__content {

		@media screen and (min-width: 660px) {
			padding: 80px;
		}
	}

	.wp-block-crowdsignal-forms-poll__answer {
		cursor: text;

		&:hover,
		&.is-focused {
			color: inherit;
		}
	}

	.wp-block-button .wp-block-crowdsignal-forms-poll__submit-button {

		&.wp-block-button__link {
			cursor: text;
		}
	}
}

/* this is a fix for a broken gutenberg block-editor style */
.wp-block-crowdsignal-forms__redirect-url input[type="text"] {
	width: 100%;
}

/* this is a fix for a broken gutenberg block-editor style */
.wp-block-crowdsignal-forms__redirect-url__suggestions {
	width: 260px;
}

.wp-block-crowdsignal-forms__row {
	display: flex;
	flex-direction: row;

	.wp-block-crowdsignal-forms__small-text-input input[type="text"] {
		width: 40px;
	}

	/* need extra space for native up/down buttons */
	.wp-block-crowdsignal-forms__small-text-input input[type="number"] {
		width: 50px;
	}
}


.wp-block-crowdsignal-forms-poll__edit-bar {
	font-family: $font-sans-serif;
	font-size: $font-size-gutenberg-system-default;
	margin-top: 24px;
	padding: 18px 24px;
	color: rgb(216, 46, 32);
	border-left: 4px solid rgb(216, 46, 32);
	background: rgb(248, 218, 216);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.wp-block-crowdsignal-forms-poll__edit-bar-message {
		padding-inline-end: 24px;
	}

	button.wp-block-crowdsignal-forms-poll__edit-bar-button {
		border: 2px solid rgb(216, 46, 32);
		border-radius: 4px;
		color: rgb(216, 46, 32);
		background: transparent;
		padding: 8px 16px;
		cursor: pointer;
	}
}

.wp-block-crowdsignal-forms__connect-to-crowdsignal {
	border: 1px solid rgb(0, 0, 0);
	font-family: $font-sans-serif;
	padding: 24px;
	text-align: initial;
}

.wp-block-crowdsignal-forms__connect-to-crowdsignal-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wp-block-crowdsignal-forms__connect-to-crowdsignal-body {
	font-size: $font-size-gutenberg-system-default;
	margin-top: 24px;
	margin-bottom: 16px;
}

.wp-block-crowdsignal-forms__connect-to-crowdsignal-title {
	font-size: 24pt;
	margin-inline-start: 16px;
}
