/* Editor styles */

#editor .editor-styles-wrapper {

	.block-editor-block-list__block[data-align="full"] .wp-block-crowdsignal-forms-poll {
		border-left-width: 0;
		border-right-width: 0;
	}

	.block-editor-block-list__block[data-align="wide"] .wp-block-crowdsignal-forms-poll__content,
	.block-editor-block-list__block[data-align="full"] .wp-block-crowdsignal-forms-poll__content {

		@media screen and (min-width: 660px) {
			padding: 80px;
		}
	}

	.wp-block-crowdsignal-forms-poll__answer {
		cursor: text;
	}

	.wp-block-crowdsignal-forms__redirect-url input[type="text"] {
		width: 100%;
	}

	.wp-block-crowdsignal-forms__redirect-url__suggestions {
		width: 260px;
	}

	.wp-block-crowdsignal-forms__more-info-link {
		text-align: right;
	}

	.wp-block-crowdsignal-forms__more-info-link-text {
		color: rgb(159, 164, 169);
	}

	.wp-block-button .wp-block-crowdsignal-forms-poll__submit-button {

		&.wp-block-button__link {
			cursor: text;
		}
	}
}

.wp-block-crowdsignal-forms__row {
	display: flex;
	flex-direction: row;
}

.wp-block-crowdsignal-forms__small-text-input input {
	width: 40px;
}

.wp-block-crowdsignal-forms-poll__edit-bar {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin-top: 24px;
	padding: 18px 24px;
	color: rgb(216, 46, 32);
	border-left: 4px solid rgb(216, 46, 32);
	background: rgb(248, 218, 216);
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	button.wp-block-crowdsignal-forms-poll__edit-bar-button {
		border: 2px solid rgb(216, 46, 32);
		border-radius: 4px;
		color: rgb(216, 46, 32);
		background: transparent;
		padding: 8px 16px;
		cursor: pointer;
	}
}

.wp-block-crowdsignal-forms__view-results {

	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
