/* Editor styles */

#editor .editor-styles-wrapper {

	.crowdsignal-forms-poll {
		margin-left: 0;
		margin-right: 0;
	}

	.block-editor-block-list__block[data-type="crowdsignal-forms/poll"][data-align="full"] .crowdsignal-forms-poll {
		border-left-width: 0;
		border-right-width: 0;
	}

	.block-editor-block-list__block[data-type="crowdsignal-forms/poll"][data-align="wide"] .crowdsignal-forms-poll__content,
	.block-editor-block-list__block[data-type="crowdsignal-forms/poll"][data-align="full"] .crowdsignal-forms-poll__content {

		@media screen and (min-width: 660px) {
			padding: 80px;
		}
	}

	.crowdsignal-forms-poll__answer {
		cursor: text;

		&:hover,
		&.is-focused {
			color: inherit;
		}
	}

	.wp-block-button .crowdsignal-forms-poll__submit-button {

		&.wp-block-button__link {
			cursor: text;

			&:hover {
				opacity: inherit;
			}
		}
	}
}

.crowdsignal-forms-poll__resize-wrapper {
	margin-left: auto;
	margin-right: auto;
}


/* this is a fix for a broken gutenberg block-editor style */
.crowdsignal-forms__redirect-url input[type="text"] {
	width: 100%;
}

/* this is a fix for a broken gutenberg block-editor style */
.crowdsignal-forms__redirect-url__suggestions {
	width: 260px;
}

.crowdsignal-forms__row {
	display: flex;
	flex-direction: row;

	.crowdsignal-forms__small-text-input input[type="text"] {
		width: 40px;
	}

	/* need extra space for native up/down buttons */
	.crowdsignal-forms__small-text-input input[type="number"] {
		width: 50px;
	}
}

.crowdsignal-forms__reset-width-button {
	margin-left: auto;
	margin-top: 25px;
}

.crowdsignal-forms-poll__edit-bar {
	font-family: $font-sans-serif;
	font-size: $font-size-gutenberg-system-default;
	margin-top: 24px;
	padding: 18px 24px;
	color: rgb(216, 46, 32);
	border-left: 4px solid rgb(216, 46, 32);
	background: rgb(248, 218, 216);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.crowdsignal-forms-poll__edit-bar-message {
		padding-inline-end: 24px;
	}

	button.crowdsignal-forms-poll__edit-bar-button {
		border: 2px solid rgb(216, 46, 32);
		border-radius: 4px;
		color: rgb(216, 46, 32);
		background: transparent;
		padding: 8px 16px;
		cursor: pointer;
	}
}
