/* Style rules for sidebar setting variables */
.wp-block-crowdsignal-forms-poll.has-custom-font-family {
	font-family: var(--crowdsignal-forms-font-family);

	h3.wp-block-crowdsignal-forms-poll__question {
		font-family: var(--crowdsignal-forms-font-family);
	}

	p.wp-block-crowdsignal-forms-poll__note {
		font-family: var(--crowdsignal-forms-font-family);
	}
}

.wp-block-crowdsignal-forms-poll.has-custom-text-color {
	color: var(--crowdsignal-forms-text-color);

	h3.wp-block-crowdsignal-forms-poll__question {
		color: var(--crowdsignal-forms-text-color);
	}

	.wp-block-crowdsignal-forms-poll__answer {
		color: var(--crowdsignal-forms-text-color);
	}
}

.wp-block-crowdsignal-forms-poll.has-custom-bg-color {
	background-color: var(--crowdsignal-forms-bg-color);
}

.wp-block-crowdsignal-forms-poll__actions > .wp-block-button > .wp-block-crowdsignal-forms-poll__submit-button {

	.wp-block-crowdsignal-forms-poll.has-custom-submit-button-bg-color & {
		background-color: var(--crowdsignal-forms-submit-button-bg-color);
	}

	.wp-block-crowdsignal-forms-poll.has-custom-submit-button-text-color & {
		color: var(--crowdsignal-forms-submit-button-text-color);
	}
}

.wp-block-crowdsignal-forms-poll.has-custom-border-radius {
	border-radius: var(--crowdsignal-forms-border-radius);
}

.wp-block-crowdsignal-forms-poll.has-custom-box-shadow {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wp-block-crowdsignal-forms-poll:not(.is-selected-in-editor) {

	.wp-block-crowdsignal-forms-poll__answer {
		cursor: pointer;

		&:hover {
			color: var(--crowdsignal-forms-fallback-bg-color);
		}
	}
}
