.wp-block-crowdsignal-forms-poll {
	padding: 15px;

	h2.wp-block-crowdsignal-forms-poll__question {
		margin: 0;
	}
}

.wp-block-crowdsignal-forms-poll__answer {
	align-items: center;
	display: flex;
	margin: 0 0 10px;
	padding: 0 2px;
	position: relative;
}

input[type="checkbox"].wp-block-crowdsignal-forms-poll__input,
input[type="radio"].wp-block-crowdsignal-forms-poll__input {
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

.wp-block-crowdsignal-forms-poll__check {
	border: 1px solid;
	border-radius: 10px;
	display: block;
	height: 20px;
	margin: 0 10px 0 0;
	width: 20px;

	&.is-checkbox {
		border-radius: 0;
	}
}

.wp-block-crowdsignal-forms-poll__answer-label {
	flex: 1;
}

.wp-block-crowdsignal-forms-poll__button {
	border: 0;
	padding: 0;
}

.wp-block-crowdsignal-forms-poll__actions {
	display: flex;
	justify-content: flex-end;

	.wp-block-button {
		margin: 0;
	}
}

/* Style rules for sidebar setting variables */
.wp-block-crowdsignal-forms-poll.has-custom-font-family {
	font-family: var(--crowdsignal-forms-font-family);

	h2.wp-block-crowdsignal-forms-poll__question {
		font-family: var(--crowdsignal-forms-font-family);
	}

	p.wp-block-crowdsignal-forms-poll__note {
		font-family: var(--crowdsignal-forms-font-family);
	}
}

.wp-block-crowdsignal-forms-poll.has-custom-text-color {
	color: var(--crowdsignal-forms-text-color);

	h2.wp-block-crowdsignal-forms-poll__question {
		color: var(--crowdsignal-forms-text-color);
	}

	.wp-block-crowdsignal-forms-poll__answer {
		color: var(--crowdsignal-forms-text-color);
	}
}

.wp-block-crowdsignal-forms-poll.has-custom-bg-color {
	background-color: var(--crowdsignal-forms-bg-color);
}

.wp-block-crowdsignal-forms-poll__actions > .wp-block-button > .wp-block-crowdsignal-forms-poll__submit-button {

	.wp-block-crowdsignal-forms-poll.has-custom-submit-button-bg-color & {
		background-color: var(--crowdsignal-forms-submit-button-bg-color);
	}

	.wp-block-crowdsignal-forms-poll.has-custom-submit-button-text-color & {
		color: var(--crowdsignal-forms-submit-button-text-color);
	}
}
