/* public Applause style */
.crowdsignal-forms-applause {
	display: flex;
	flex-direction: row;
	align-items: center;
	outline: 0;
	width: max-content;
	cursor: pointer;

	.crowdsignal-forms-applause__count {
		user-select: none;
	}

	&.size-small {
		padding: 18px 10px;
		height: 0.7em;

		.crowdsignal-forms-applause__count {
			font-size: 0.65em;
		}
	}

	&.size-medium {
		height: 1em;
		padding: 20px 10px;

		.crowdsignal-forms-applause__count {
			font-size: 0.75em;
		}
	}

	&.size-large {
		height: 1.2em;
		padding: 22px 16px;

		.crowdsignal-forms-applause__count {
			font-size: 0.9em;
		}
	}

	&.is-closed {
		opacity: 0.5;
	}

	&.has-text-color {
		color: var(--crowdsignal-forms-applause-text-color);
	}

	&.has-border-color {
		border: 1px solid var(--crowdsignal-forms-applause-border-color);
	}

	&.has-bg-color {
		background-color: var(--crowdsignal-forms-applause-bg-color);
	}

	&:hover {
		color: var(--crowdsignal-forms-applause-hover-color);
		border-color: var(--crowdsignal-forms-applause-hover-color);

		&.has-bg-color,
		&.has-text-color {
			background-color: var(--crowdsignal-forms-applause-text-color);
			border-color: var(--crowdsignal-forms-applause-bg-color);
			color: var(--crowdsignal-forms-applause-bg-color);
		}
	}

}

.crowdsignal-forms-applause__animation {
	fill: var(--crowdsignal-forms-applause-text-color);
	margin-inline-end: 5px;

	.crowdsignal-forms-applause.size-small & {
		width: 1.5em;
		height: 1.5em;
		max-height: 1.5em;
	}

	.crowdsignal-forms-applause.size-medium & {
		width: 2.3em;
		height: 2.3em;
		max-height: 2.3em;
	}

	.crowdsignal-forms-applause.size-large & {
		width: 2.7em;
		height: 2.7em;
		max-height: 2.7em;
	}

	.crowdsignal-forms-applause:hover & {
		fill: var(--crowdsignal-forms-applause-hover-color);
	}
}

.crowdsignal-forms-applause__animation-right {
	transition: transform 0.3s;

	.crowdsignal-forms-applause:hover & {
		transform: translateX(3%) translateY(-3%);
	}
}

.crowdsignal-forms-applause__animation-left {
	transition: transform 0.3s;

	.crowdsignal-forms-applause:hover & {
		transform: translateX(-3%) translateY(0);
	}
}

.crowdsignal-forms-applause__animation-wave-small {
	opacity: 1;

	.crowdsignal-forms-applause:hover & {
		animation: crowdsignal-forms-animation__fade-out 0.3s forwards;
		transform: translateY(-5%);
		transition: transform 0.3s;
	}
}

.crowdsignal-forms-applause__animation-wave-large {
	opacity: 0;
}

.crowdsignal-forms-applause .crowdsignal-forms-applause__animation.is-active {

	.crowdsignal-forms-applause__animation-right {
		transform: translateX(-3%) translateY(0);
		transition: transform 0.1s;
	}

	.crowdsignal-forms-applause__animation-left {
		transform: translateX(3%) translateY(0);
		transition: transform 0.1s;
	}

	.crowdsignal-forms-applause__animation-wave-small {
		animation: crowdsignal-forms-animation__fade-out 0.3s forwards;
		transform: translateY(-5%);
		transition: transform 0.3s;
	}

	.crowdsignal-forms-applause__animation-wave-large {
		animation: crowdsignal-forms-animation__fade-in 0.03s forwards;
		animation-delay: 0.07s;
	}
}
