/* public Applause style */
.crowdsignal-applause-wrapper {
	margin-bottom: 3em;
}

.crowdsignal-forms-applause {
	display: flex;
	flex-direction: row;
	align-items: center;
	outline: 0;
	width: max-content;
	cursor: pointer;
	border: var(--crowdsignal-forms-applause-border-width) solid rgb(210, 210, 210);
	border-radius: var(--crowdsignal-forms-applause-border-radius);
	user-select: none;
	--webkit-user-select: none;

	.crowdsignal-forms-applause__count {
		margin: 0;
	}

	&.size-small {
		padding: 20px 16px 18px 12px;
		height: 0.7em;

		.crowdsignal-forms-applause__count {
			font-size: 14px;
			padding-bottom: 2px;
		}
	}

	&.size-medium {
		height: 1em;
		padding: 24px 16px 20px 8px;

		.crowdsignal-forms-applause__count {
			font-size: 16px;
			padding-bottom: 4px;
		}
	}

	&.size-large {
		height: 1.2em;
		padding: 28px 18px 22px 8px;

		.crowdsignal-forms-applause__count {
			font-size: 19px;
			padding-bottom: 6px;
		}
	}

	&.is-closed {
		opacity: 0.5;
	}

	&.has-text-color {
		color: var(--crowdsignal-forms-applause-text-color);
	}

	&.has-border-color {
		border: var(--crowdsignal-forms-applause-border-width) solid var(--crowdsignal-forms-applause-border-color);
	}

	&.has-bg-color {
		background-color: var(--crowdsignal-forms-applause-bg-color);
	}

	&:not(.is-closed):hover {
		color: var(--crowdsignal-forms-applause-hover-color);
		border-color: var(--crowdsignal-forms-applause-hover-color);

		&.has-bg-color {
			color: var(--crowdsignal-forms-applause-bg-color);
			background-color: var(--crowdsignal-forms-applause-text-color);
			border-color: var(--crowdsignal-forms-applause-bg-color);
		}
	}

}

.crowdsignal-forms-applause__animation {
	fill: var(--crowdsignal-forms-applause-text-color);
	margin-inline-end: 5px;

	.crowdsignal-forms-applause.size-small & {
		width: 33px;
		height: 33px;
		max-height: 33px;
	}

	.crowdsignal-forms-applause.size-medium & {
		width: 50px;
		height: 50px;
		max-height: 50px;
	}

	.crowdsignal-forms-applause.size-large & {
		width: 60px;
		height: 60px;
		max-height: 60px;
	}

	.crowdsignal-forms-applause__animation-inner-fill {
		fill: var(--crowdsignal-forms-applause-bg-color);
	}

	.crowdsignal-forms-applause:not(.is-closed):hover & {
		fill: var(--crowdsignal-forms-applause-hover-color);
	}

	.crowdsignal-forms-applause.has-bg-color:not(.is-closed):hover & {
		fill: var(--crowdsignal-forms-applause-bg-color);

		.crowdsignal-forms-applause__animation-inner-fill {
			fill: var(--crowdsignal-forms-applause-text-color);
		}
	}
}

.crowdsignal-forms-applause__animation-right {
	transition: transform 0.3s;

	.crowdsignal-forms-applause:not(.is-closed):hover & {
		transform: translateX(3%) translateY(-3%);
	}
}

.crowdsignal-forms-applause__animation-left {
	transition: transform 0.3s;

	.crowdsignal-forms-applause:not(.is-closed):hover & {
		transform: translateX(-3%) translateY(0);
	}
}

.crowdsignal-forms-applause__animation-wave-small {
	opacity: 1;

	.crowdsignal-forms-applause:not(.is-closed):hover & {
		animation: crowdsignal-forms-animation__fade-out 0.3s forwards;
		transform: translateY(-5%);
		transition: transform 0.3s;
	}
}

.crowdsignal-forms-applause__animation-wave-large {
	opacity: 0;
}

.crowdsignal-forms-applause .crowdsignal-forms-applause__animation.is-active {

	.crowdsignal-forms-applause__animation-right {
		transform: translateX(-3%) translateY(0);
		transition: transform 0.1s;
	}

	.crowdsignal-forms-applause__animation-left {
		transform: translateX(3%) translateY(0);
		transition: transform 0.1s;
	}

	.crowdsignal-forms-applause__animation-wave-small {
		animation: crowdsignal-forms-animation__fade-out 0.3s forwards;
		transform: translateY(-5%);
		transition: transform 0.3s;
	}

	.crowdsignal-forms-applause__animation-wave-large {
		animation: crowdsignal-forms-animation__fade-in 0.03s forwards;
		animation-delay: 0.07s;
	}
}
