/** Editor styles */

.crowdsignal-forms-feedback__trigger-preview {
	display: flex;

	.crowdsignal-forms-feedback.align-right & {
		justify-content: flex-end;
	}

	.crowdsignal-forms-feedback.vertical-align-top & {
		margin-bottom: 15px !important;
		margin-top: 0 !important;
	}

	.crowdsignal-forms-feedback.vertical-align-bottom & {
		order: 99;
		margin-bottom: 0 !important;
		margin-top: 15px !important;
	}

	.crowdsignal-forms-feedback.is-vertical & {
		align-items: flex-start;
		padding: var(--crowdsignal-forms-feedback__toggle-padding) 0;
		margin-right: 20px;
	}

	.crowdsignal-forms-feedback.is-vertical.align-right & {
		margin-left: 20px;
		margin-right: 0;
	}

	.crowdsignal-forms-feedback.is-vertical.is-widget & {
		position: relative;
		width: var(--crowdsignal-forms-trigger-height);
	}
}

.crowdsignal-forms-feedback__popover-preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 !important;
	position: relative;

	.crowdsignal-forms-feedback.align-left & {
		align-items: flex-start;
	}

	.crowdsignal-forms-feedback.align-right & {
		align-items: flex-end;
	}
}

.editor-styles-wrapper,
.wp-customizer {

	.wp-block[data-type="crowdsignal-forms/feedback"] {
		width: auto;
		z-index: 1;

		&::after {
			display: none;
		}
	}

	.crowdsignal-forms-feedback__popover-overlay {
		background-color: rgba(0, 0, 0, 0.3);
		content: "";
		display: block;
		position: fixed;
		bottom: 25px;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
	}

	.crowdsignal-forms-feedback {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		position: relative;

		&.is-active .crowdsignal-forms-feedback__trigger {
			cursor: text !important;
			white-space: pre-wrap !important;
		}

		&.is-vertical {
			flex-direction: row;

			.crowdsignal-forms-feedback__trigger-wrapper {
				transform-origin: top right;
				transform: rotateZ(270deg) translateY(-100%);
			}

			.crowdsignal-forms-feedback__trigger {
				margin: 0;
			}
		}

		&.is-vertical.align-right {
			flex-direction: row-reverse;

			.crowdsignal-forms-feedback__trigger-wrapper {
				transform-origin: top left;
				transform: rotateZ(270deg) translateX(-100%);
			}
		}

		.crowdsignal-forms__editor-notice {
			width: 380px;
		}

		&.is-widget {
			border: 1px solid #e0e0e0;
			padding: 10px;
			margin-bottom: 15px !important;

			.crowdsignal-forms-feedback__popover {
				width: 100%;
			}

			&.is-vertical {
				padding-left: 0;
				padding-right: 0;
				justify-content: flex-start;
				overflow: hidden;
				position: relative;

				.crowdsignal-forms-feedback__trigger-wrapper {
					position: absolute;
					top: 50%;
					left: 50%;
					transform-origin: top left;
					transform: rotateZ(270deg) translateX(-50%) translateY(-50%);
				}
			}

			.crowdsignal-forms-feedback__trigger {
				margin: 0;
			}
		}
	}

	.crowdsignal-forms-feedback__input {

		input,
		textarea {
			color: #757575;
		}
	}

	.crowdsignal-forms-feedback__button-wrapper {
		margin-top: 24px !important;
		margin-bottom: 0 !important;
	}
}

.crowdsignal-forms-feedback__toolbar-toggle {
	font-weight: 600;
	padding-left: 16px !important;
	padding-right: 16px !important;

	&.is-pressed::before {
		left: 8px !important;
		right: 8px !important;
	}
}

.crowdsignal-forms-feedback__trigger-settings {
	align-items: center;
	display: flex;
	margin-bottom: 24px;
}

.crowdsignal-forms-feedback__trigger-settings-trigger {
	background-size: cover;
	border: 1px solid #c4c4c4;
	border-radius: 50%;
	height: 70px;
	margin-right: 12px;
	overflow: hidden;
	padding: 0;
	width: 70px;
}

.crowdsignal-forms-feedback__closed-notice {
	background-color: #1e1e1e;
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 14px;
	line-height: 1.5;
	padding: 6px;
}
