/** Editor styles */

.editor-styles-wrapper {

	.wp-block[data-type="crowdsignal-forms/feedback"] {
		width: auto;
		// This number is was carefully chosen so the block and its overlay
		// don't block any editor UI elements but appear in front of regular
		// content
		z-index: 10;
	}

	.crowdsignal-forms-feedback__popover-overlay {
		background-color: rgba(0, 0, 0, 0.3);
		content: "";
		display: block;
		position: fixed;
		bottom: 25px;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
	}

	.crowdsignal-forms-feedback__popover {
		position: static;
	}

	.crowdsignal-forms-feedback {
		justify-content: center;
		margin: 0 !important;
		padding: 20px;
		position: relative;

		&.align-left {
			padding-left: 60px;
		}

		&.align-right {
			padding-right: 60px;
		}

		&.vertical-align-top {
			padding-top: 60px;
		}

		&.align-left.vertical-align-center {
			padding-left: 70px;
		}

		&.align-right.vertical-align-center {
			padding-right: 70px;
		}

		&.vertical-align-bottom {
			padding-bottom: 60px;
		}

		.crowdsignal-forms__editor-notice {
			// this width must match the width of
			// .crowdsignal-forms-feedback__popover on components/feedback/style.scss
			width: 380px;
		}
	}
}

.crowdsignal-forms-feedback__trigger {

	.editor-styles-wrapper & {
		position: absolute;
	}

	.editor-styles-wrapper .crowdsignal-forms-feedback.align-left & {
		left: 10px;
	}

	.editor-styles-wrapper .crowdsignal-forms-feedback.align-right & {
		right: 10px;
	}

	.editor-styles-wrapper .crowdsignal-forms-feedback.vertical-align-top & {
		top: 0;
	}

	.editor-styles-wrapper .crowdsignal-forms-feedback.vertical-align-center & {
		margin-top: -25px;
		top: 50%;
	}

	.editor-styles-wrapper .crowdsignal-forms-feedback.vertical-align-bottom & {
		bottom: 10px;
	}
}

.crowdsignal-forms-feedback__toolbar-position-toggle svg {
	margin-right: 0 !important;
}

.crowdsignal-forms-feedback__toolbar-popover-wrapper .components-popover__content {
	min-width: auto !important;
}

.crowdsignal-forms-feedback__toolbar-popover {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-template-rows: auto auto;
	padding: 2px;
	width: fit-content;
}

.crowdsignal-forms-feedback__position-button {
	width: fit-content;
}
