/** Public styles */

.crowdsignal-forms-feedback__trigger {
	background: transparent !important;
	border: 0;
	border-radius: 50%;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	height: 75px;
	outline: 0;
	padding: 0;
	position: fixed;
	width: 75px;
	z-index: 100;
}

.crowdsignal-forms-feedback__popover-wrapper.components-popover .components-popover__content {
	background-color: transparent;
	border: 0;
	box-shadow: 0;
	overflow: visible;
}

.crowdsignal-forms-feedback__popover {
	background-color: var(--crowdsignal-forms-background-color);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 10px solid var(--crowdsignal-forms-button-color);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	color: var(--crowdsignal-forms-background-color);
	padding: 24px;
	width: 380px;
	text-align: left;
	z-index: 100;
}

.crowdsignal-forms-feedback__header {
	color: var(--crowdsignal-forms-text-color);
	margin-top: 0 !important;
	margin-bottom: 32px !important;
}

.crowdsignal-forms-feedback__input {
	margin-top: 16px;
	font-size: var(--crowdsignal-forms-text-size);
	width: 100%;
}

.crowdsignal-forms-feedback__button-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-top: 35px;
	width: 100%;
}

.crowdsignal-forms-feedback__trigger-button {
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	height: 50px;
	width: 50px;
}

.crowdsignal-forms-feedback__feedback-button {
	background-color: var(--crowdsignal-forms-button-color) !important;
}
