.crowdsignal-forms-dialog-wrapper {
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10000;
}
