/* Editor styles */

#editor .editor-styles-wrapper {

	.crowdsignal-logo {
		height: 48px;
		width: 48px;
	}

	.cs-embed__button {
		margin-left: 4px;
	}

	.cs-embed__field {
		width: 75%;
	}

	.cs-embed__error {
		color: red;
	}
}
