/* editor styles */

[data-type="crowdsignal-forms/vote-item"] {

	/* Gutenberg 9 fix for vertically overridden margins in a horizontal
	orientation block. */
	margin-top: 28px !important;
	margin-bottom: 0 !important;

	&:not(:last-child) {
		margin-inline-end: 8px;
	}
}
