// Public poll styles

.wp-block-crowdsignal-forms-poll {
	border-color: var(--crowdsignal-forms-border-color);
	border-style: solid;
	border-width: var(--crowdsignal-forms-border-width);
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	position: relative;
	text-align: left;

	.entry-content .alignfull.crowdsignal-poll-wrapper & {
		border-left-width: 0;
		border-right-width: 0;
	}

	h3.wp-block-crowdsignal-forms-poll__question {
		margin: 0 0 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	p.wp-block-crowdsignal-forms-poll__note {
		font-style: italic;
		margin: 0 0 32px;
	}

	.wp-block-crowdsignal-forms-poll__content {
		padding: 40px 24px 16px 24px;

		.entry-content .alignfull.crowdsignal-poll-wrapper & {
			margin: 0 auto;
			max-width: var(--crowdsignal-forms-content-wide-width);
		}

		@media screen and (min-width: 660px) {

			.alignwide.crowdsignal-poll-wrapper &,
			.alignfull.crowdsignal-poll-wrapper & {
				padding: 80px;
			}
		}
	}

	&.is-closed {

		.wp-block-crowdsignal-forms-poll__form {
			opacity: 0.5;
		}
	}

	&.is-hidden {
		opacity: 0.5;
	}

	&.has-font-family .wp-block-crowdsignal-forms-poll__answer-label-wrapper,
	&.has-font-family .wp-block-crowdsignal-forms-poll__question,
	&.has-font-family .wp-block-crowdsignal-forms-poll__note {
		font-family: var(--crowdsignal-forms-font-family);
	}

	&.has-text-color {
		color: var(--crowdsignal-forms-text-color);
	}

	&.has-bg-color {
		background-color: var(--crowdsignal-forms-bg-color);
	}

	&.has-border-radius {
		border-radius: var(--crowdsignal-forms-border-radius);
		overflow: hidden;
	}

	&.has-box-shadow {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}
}

.wp-block-crowdsignal-forms-poll__block-button .wp-block-crowdsignal-forms-poll__submit-button {

	&:disabled {
		opacity: 0.7;
	}

	.wp-block-crowdsignal-forms-poll.has-submit-button-bg-color &.wp-block-button__link {
		background-color: var(--crowdsignal-forms-submit-button-bg-color);
	}

	.wp-block-crowdsignal-forms-poll.has-submit-button-text-color &.wp-block-button__link {
		color: var(--crowdsignal-forms-submit-button-text-color);
	}
}

.wp-block-crowdsignal-forms-poll__answer {
	cursor: pointer;
	display: flex;
	font-size: inherit;
	font-weight: 600;
	margin: 0 0 16px;
	padding: 0 2px;
	position: relative;

	&:hover,
	&.is-focused {
		color: var(--crowdsignal-forms-submit-button-bg-color);
	}

	.has-voted & {
		opacity: 0.5;
	}
}

input[type="checkbox"].wp-block-crowdsignal-forms-poll__input,
input[type="radio"].wp-block-crowdsignal-forms-poll__input {
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

.wp-block-crowdsignal-forms-poll__check {
	display: inline-block;
	height: 1em;
	margin: 0 10px 0 0;
	position: relative;
	width: 1em;

	&::before {
		background-color: transparent;
		border: 1.5px solid var(--crowdsignal-forms-text-color);
		border-radius: 50%;
		box-sizing: border-box;
		content: "";
		display: block;
		height: 100%;
		transition: background-color 0.3s, border-color 0.3s;
		width: 100%;
	}

	.wp-block-crowdsignal-forms-poll__answer.is-multiple-choice &::before {
		border-radius: 3px;
	}

	.wp-block-crowdsignal-forms-poll__answer.is-multiple-choice.is-selected &::before {
		border-color: var(--crowdsignal-forms-border-color);
		background-color: var(--crowdsignal-forms-border-color);
	}

	.wp-block-crowdsignal-forms-poll__answer.is-selected:not(.is-multiple-choice) &::after {
		animation-duration: 0.3s;
		animation-name: crowdsignal-forms-animation__pop;
		animation-iteration-count: 1;
		background-clip: padding-box;
		background-color: var(--crowdsignal-forms-border-color);
		border: 4.5px solid transparent;
		border-radius: 50%;
		box-sizing: border-box;
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.wp-block-crowdsignal-forms-poll__answer.is-selected.is-multiple-choice &::after {
		border-color: var(--crowdsignal-forms-submit-button-text-color);
		border-style: solid;
		border-width: 0 0 2px 2px;
		box-sizing: border-box;
		content: "";
		display: block;
		height: 25%;
		margin: -0.1em 0 0 -0.2em;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: rotateZ(-45deg);
		width: 50%;
	}
}

/* stylelint-disable-next-line no-descending-specificity */
div.wp-block-crowdsignal-forms-poll__answer-label-wrapper {
	flex: 1;
	word-break: break-word;

	span.wp-block-crowdsignal-forms-poll__answer-label {
		line-height: 1;
		vertical-align: top;

		/* the placeholder text */
		span::after {
			vertical-align: top;
		}
	}
}

.wp-block-crowdsignal-forms-poll__button {
	border: 0;
	padding: 0;
}

.wp-block-crowdsignal-forms-poll__actions {
	display: flex;
	justify-content: flex-end;

	.wp-block-button {
		margin: 0;
	}
}

.editor-styles-wrapper .wp-block-crowdsignal-forms-poll .wp-block-crowdsignal-forms-poll__actions {

	.wp-block-button.wp-block-crowdsignal-forms-poll__block-button {
		margin: 0;
	}
}

.wp-block-crowdsignal-forms-poll__closed-banner {
	background-color: var(--crowdsignal-forms-border-color);
	box-sizing: border-box;
	display: flex;
	color: var(--crowdsignal-forms-submit-button-text-color);
	font-family: $font-sans-serif;
	justify-content: center;
	padding: calc(var(--crowdsignal-forms-border-width) + 0.2em) 0 0.2em;
	width: 100%;

	.is-hidden & {
		font-style: italic;
	}
}

.wp-block-crowdsignal-forms-poll__error {
	color: rgb(255, 0, 0);
}

.wp-block-crowdsignal-forms-poll__results-list {
	margin: 0 0 1em;
	position: relative;
}

.wp-block-crowdsignal-forms-poll__answer-results {
	display: flex;
	flex-direction: column;
	margin: 0 0 16px;
	width: 100%;

	&:last-child {
		margin: 0;
	}
}

.wp-block-crowdsignal-forms-poll__answer-results-labels {
	align-items: flex-end;
	display: flex;
	margin: 0 0 8px;
	width: 100%;
	word-break: break-word;
}

.wp-block-crowdsignal-forms-poll__answer-results-answer {
	flex: 1;
	font-size: 1em;
	font-weight: 600;
}

.wp-block-crowdsignal-forms-poll__answer-results-votes {
	font-size: 0.75em;
	line-height: 2;
}

.wp-block-crowdsignal-forms-poll__answer-results-percent {
	font-weight: 600;
	line-height: 1.6;
}

.wp-block-crowdsignal-forms-poll__answer-results-votes,
.wp-block-crowdsignal-forms-poll__answer-results-percent {
	font-family: $font-sans-serif;
	margin-left: 20px;
	transition: opacity 0.3s;

	.wp-block-crowdsignal-forms-poll__answer-results.is-error & {
		display: none;
	}

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading & {
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: crowdsignal-forms-animation__pulse;
		background-color: var(--crowdsignal-forms-text-color);
		font-size: 0.7em;
		height: 1em;
		width: 50px;

		&:last-child {
			width: 40px;
		}
	}
}

.wp-block-crowdsignal-forms-poll__answer-results-progress-track {
	border: 1px solid;
	border-color: rgba(var(--crowdsignal-forms-text-color-properties), 0.3);
	box-sizing: border-box;
	height: 1em;
	width: 100%;

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading & {
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: crowdsignal-forms-animation__pulse;
	}
}

.wp-block-crowdsignal-forms-poll__answer-results-progress-bar {
	animation-fill-mode: forwards;
	background-color: var(--crowdsignal-forms-submit-button-bg-color);
	height: 100%;
	transition: background-color 0.3s, width 0.3s;

	.wp-block-crowdsignal-forms-poll__answer-results.is-error & {
		width: 0;
	}

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading & {
		background-color: var(--crowdsignal-forms-text-color);
		width: 25%;
	}

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading:nth-child(5n+1) & {
		width: 40%;
	}

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading:nth-child(5n+2) & {
		width: 75%;
	}

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading:nth-child(5n+3) & {
		width: 50%;
	}

	.wp-block-crowdsignal-forms-poll__answer-results.is-loading:nth-child(5n+4) & {
		width: 60%;
	}
}

.wp-block-crowdsignal-forms-poll__results-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	font-size: 0.9em;
}

.wp-block-crowdsignal-forms-poll__results-total {
	font-family: $font-sans-serif;
	position: relative;
	text-align: right;
	width: 100%;
	margin-bottom: 1em;

	.wp-block-crowdsignal-forms-poll__results.is-loading & {
		color: transparent;
	}

	.wp-block-crowdsignal-forms-poll__results.is-loading &::before {
		animation-name: crowdsignal-forms-animation__pulse;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		background-color: var(--crowdsignal-forms-text-color);
		content: "";
		display: block;
		position: absolute;
		right: 0;
		height: 1em;
		width: 150px;
	}
}

.wp-block-crowdsignal-forms-poll__footer-branding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	img.wp-block-crowdsignal-forms-poll__footer-branding-logo {
		width: 50px;
		height: 50px;
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block-crowdsignal-forms-poll__footer-cs-link {
	font-family: $font-sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;

	&:not(:hover) {
		color: var(--crowdsignal-forms-text-color);
		opacity: 0.4;
	}
}

.wp-block-crowdsignal-forms-poll__error-banner {
	font-family: $font-sans-serif;
	font-size: $font-size-gutenberg-system-default;
	margin-top: 24px;
	padding: 18px 24px;
	color: rgb(216, 46, 32);
	border-left: 4px solid rgb(216, 46, 32);
	background: rgb(248, 218, 216);
}

.wp-block-crowdsignal-forms-poll__submit-message-container {
	position: absolute;
	background-color: rgb(255, 255, 255);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wp-block-crowdsignal-forms-poll__submit-message {
	position: relative;

	button.wp-block-crowdsignal-forms-poll__dismiss-submit-message {
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		color: rgb(0, 0, 0);
		text-decoration: none;
		border: none;

		&:hover {
			background: inherit;
		}
	}

}

.wp-block-crowdsignal-forms-poll__submit-message-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 16px 24px;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.wp-block-crowdsignal-forms-poll__thank-you-cs-sticker {
	right: 25px;
	top: 66px;
}

.wp-block-crowdsignal-forms-poll__thank-you-sticker {
	right: 132px;
	top: 12px;
}

.wp-block-crowdsignal-forms-poll__thank-you-cs-sticker,
.wp-block-crowdsignal-forms-poll__thank-you-sticker {
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
	width: 100px;
	height: 100px;
	position: absolute;
}

.wp-block-crowdsignal-forms-poll__custom-message-check {
	color: var(--crowdsignal-forms-submit-button-bg-color);
	padding-left: 24px;
	padding-top: 24px;
}

.wp-block-crowdsignal-forms-poll__custom-message {
	font-weight: 600;
	padding: 16px 24px;
}

.wp_block-crowdsignal-forms-poll__vote-branding {
	margin-top: 16px;
}
