/* public Vote style */
.crowdsignal-vote-wrapper,
[data-type="crowdsignal-forms/vote"] {

	&:not(:first-child) {
		margin-top: 3em;
	}

	&:not(:last-child) {
		margin-bottom: 3em;
	}
}

.crowdsignal-forms-vote {
	align-items: flex-start;
	display: flex;
	flex-direction: column;

	&.crowdsignal-forms-vote__example {
		align-items: center;
	}
}

[data-type="crowdsignal-forms/vote-item"] {

	/* Gutenberg 9 fix for vertically overridden margins in a horizontal
	orientation block. */
	margin-top: 28px !important;
	margin-bottom: 28px !important;

}

.crowdsignal-forms-vote__items {
	display: flex;
	flex-direction: row;
}

.crowdsignal-forms-vote-item {
	border: var(--crowdsignal-forms-vote-border-width) solid rgb(210, 210, 210);
	border-radius: var(--crowdsignal-forms-vote-border-radius);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-inline-end: 8px !important;
	position: relative;

	&.has-bg-color {
		background-color: var(--crowdsignal-forms-vote-bg-color);
	}

	&.has-border-color {
		border-color: var(--crowdsignal-forms-vote-border-color);
	}

	&.has-text-color {
		color: var(--crowdsignal-forms-vote-text-color);
	}

	.is-closed &,
	&.is-disabled {
		cursor: inherit;
	}

	.is-closed &, /* `.is-closed` is used in editor only */
	&.is-disabled:not(.is-voted-on) {
		opacity: 0.5;
	}

	.size-small & {
		padding: 18px 10px;
		height: 0.7em;
	}

	.size-medium & {
		height: 1em;
		padding: 20px 10px;
	}

	.size-large & {
		height: 1.2em;
		padding: 22px 16px;
		margin-inline-end: 16px;
	}

	&.is-voted-on,
	&:hover:not(.is-disabled),
	&:focus:not(.is-disabled):not(.is-in-editor) {
		border-color: var(--crowdsignal-forms-vote-voted-color);
		color: var(--crowdsignal-forms-vote-voted-color);

		&.has-bg-color,
		&.has-text-color {
			background-color: var(--crowdsignal-forms-vote-text-color);
			border-color: var(--crowdsignal-forms-vote-bg-color);
			color: var(--crowdsignal-forms-vote-bg-color);
		}
	}

	.crowdsignal-forms-vote-item__icon {

		.size-small & {
			width: 0.7em;
			height: 0.7em;
			max-height: 0.7em;
		}

		.size-medium & {
			width: 1em;
			height: 1em;
			max-height: 1em;
		}

		.size-large & {
			width: 1.2em;
			height: 1.2em;
			max-height: 1.2em;
		}

		.crowdsignal-forms-vote-item.is-voted-on & {
			animation-duration: 0.3s;
			animation-name: crowdsignal-forms-animation__pop;
			animation-iteration-count: 1;
		}
	}

	.crowdsignal-forms-vote-item__count {
		font-size: 14pt;
		font-family: $font-sans-serif;
		margin-inline-start: 10px;
		transform: rotateX(0deg);
		transform-origin: 50% 50% 10px;
		transition: transform 0.3s;

		.size-small & {
			font-size: 0.6em;
		}

		.size-medium & {
			font-size: 0.8em;
		}

		.size-large & {
			font-size: 1em;
		}
	}

	.crowdsignal-forms-vote-item__count-enter,
	.crowdsignal-forms-vote-item__count-enter-active {
		margin: 0;
		position: absolute;
		right: 0;
	}

	.crowdsignal-forms-vote-item__count-enter {
		transform: rotateX(-90deg);

		.crowdsignal-forms-vote-item.is-voted-on & {
			transform: rotateX(90deg);
		}
	}

	.crowdsignal-forms-vote-item__count-exit,
	.crowdsignal-forms-vote-item__count-exit-active {
		margin: 0;
		position: absolute;
		right: 10px;
		top: 4px;
		transform: rotateX(90deg);

		.crowdsignal-forms-vote-item.is-voted-on & {
			transform: rotateX(-90deg);
		}
	}
}


.crowdsignal-forms-vote__branding {
	display: flex;

	.crowdsignal-forms-vote__branding-link {
		font-family: $font-sans-serif;
		font-size: 8px;
		padding: 8px 20px 0;
		text-decoration: none !important;
		text-transform: uppercase;

		&.with-external-icon::after {
			content: "\2197";
			display: inline;
			font-size: 6px;
			vertical-align: super;
		}

		&:not(:hover) {
			color: var(--crowdsignal-forms-text-color);
		}
	}
}
