/* public Vote style */
.crowdsignal-vote-wrapper,
[data-type="crowdsignal-forms/vote"] {

	&:not(:first-child) {
		margin-top: 3em;
	}

	&:not(:last-child) {
		margin-bottom: 3em;
	}
}

.wp-block-crowdsignal-forms-vote {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.wp-block-crowdsignal-forms-vote__items {
	display: flex;
	flex-direction: row;
}

.wp-block-crowdsignal-forms-vote-item {
	border: var(--crowdsignal-forms-vote-border-width) solid rgb(210, 210, 210);
	border-radius: var(--crowdsignal-forms-vote-border-radius);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-inline-end: 8px;
	padding: 4px 10px;
	position: relative;

	&.has-bg-color {
		background-color: var(--crowdsignal-forms-vote-bg-color);
	}

	&.has-border-color {
		border-color: var(--crowdsignal-forms-vote-border-color);
	}

	&.has-text-color {
		color: var(--crowdsignal-forms-vote-text-color);
	}

	&.is-voted-on {
		border-color: var(--crowdsignal-forms-vote-voted-color);
		color: var(--crowdsignal-forms-vote-voted-color);
	}

	&.is-disabled:not(.is-voted-on) {
		opacity: 0.5;
	}

	.size-large & {
		padding: 6px 16px;
		margin-inline-end: 16px;
	}
}

.wp-block-crowdsignal-forms-vote-item__icon {

	.size-small & {
		width: 0.7em;
		height: 0.7em;
	}

	.size-medium & {
		width: 1em;
		height: 1em;
	}

	.size-large & {
		width: 1.2em;
		height: 1.2em;
	}

	.wp-block-crowdsignal-forms-vote-item.is-voted-on & {
		animation-duration: 0.3s;
		animation-name: crowdsignal-forms-animation__pop;
		animation-iteration-count: 1;
	}
}

.wp-block-crowdsignal-forms-vote-item__count {
	font-size: 14pt;
	margin-inline-start: 10px;
	transform: rotateX(0deg);
	transform-origin: 50% 50% 10px;
	transition: transform 0.3s;

	.size-small & {
		font-size: 0.7em;
	}

	.size-medium & {
		font-size: 1em;
	}

	.size-large & {
		font-size: 1.2em;
	}
}

.wp-block-crowdsignal-forms-vote-item__count-enter,
.wp-block-crowdsignal-forms-vote-item__count-entepr-active {
	margin: 0;
	position: absolute;
	right: 0;
}

.wp-block-crowdsignal-forms-vote-item__count-enter {
	transform: rotateX(-90deg);

	.wp-block-crowdsignal-forms-vote-item.is-voted-on & {
		transform: rotateX(90deg);
	}
}

.wp-block-crowdsignal-forms-vote-item__count-exit,
.wp-block-crowdsignal-forms-vote-item__count__exit-active {
	margin: 0;
	position: absolute;
	right: 10px;
	top: 4px;
	transform: rotateX(90deg);

	.wp-block-crowdsignal-forms-vote-item.is-voted-on & {
		transform: rotateX(-90deg);
	}
}

.wp-block-crowdsignal-forms-vote__branding {
	display: flex;
}

.wp-block-crowdsignal-forms-vote__branding-link {
	font-family: $font-sans-serif;
	font-size: 8px;
	padding: 8px 20px 0;
	text-decoration: none !important;
	text-transform: uppercase;

	&::after {
		content: "\2197";
		display: inline;
		font-size: 6px;
		vertical-align: super;
	}

	&:not(:hover) {
		color: var(--crowdsignal-forms-text-color);
	}
}
