/* Editor styles */

.crowdsignal-forms-nps.is-inactive {
	opacity: 0.6;
}

.crowdsignal-forms-nps__toolbar-toggle {
	font-weight: 600;
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.crowdsignal-forms-nps__toolbar-popover {
	padding: 15px;
}

.crowdsignal-forms-nps__toolbar-popover-button svg {
	margin-right: 0 !important;
}

.crowdsignal-forms-nps__rating-button:hover {
	background-color: var(--crowdsignal-forms-button-text-color);
	border-color: var(--crowdsignal-forms-button-color);
	color: var(--crowdsignal-forms-button-color);
}
