/* Editor styles */

.crowdsignal-forms-nps.is-inactive {
	opacity: 0.6;
}

.crowdsignal-forms-nps__toolbar-toggle {
	font-weight: 600;
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.crowdsignal-forms-nps__toolbar-popover {
	padding: 15px;
	min-width: 300px;

	.components-base-control__field {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 0;
	}

	.components-base-control__label {
		display: block;
		flex-grow: 1;
		line-height: 30px;
		margin-bottom: 0;
	}

	.components-text-control__input {
		width: 5em;
	}
}

.crowdsignal-forms-nps__toolbar-popover-button {

	svg {
		margin-right: 0 !important;
	}

	&.components-button.has-icon .dashicon {
		margin-right: 2px;
	}
}

.crowdsignal-forms-nps__rating-button:hover {
	background-color: var(--crowdsignal-forms-button-text-color);
	border-color: var(--crowdsignal-forms-button-color);
	color: var(--crowdsignal-forms-button-color);
}
