.crowdsignal-forms__branding {
	display: flex;
	margin: 8px 4px 0;
	font-size: 8px;

	.crowdsignal-forms__branding-link {
		font-family: $font-sans-serif;
		text-decoration: none !important;
		text-transform: uppercase;
		box-shadow: none;
		border: 0;

		&:hover {
			box-shadow: none;
		}

		&.with-external-icon::after {
			content: "\2197";
			display: inline;
			font-size: 6px;
			vertical-align: top;
		}

		&:not(:hover) {
			color: var(--crowdsignal-forms-text-color);
		}
	}
}
